<html>
<head>
        <link href="/css/style.css" rel="stylesheet" type="text/css"> 
    <title>
Home Page SP</title>
</head>
<body>
    <center>
<h1 align="center"> Welcome to Student portal</h1>
<input class="button" type="button" onclick="go()" value = "Admin Page"/>
<br><br><br>
<input class="button" type="button" onclick="go1()" value = "Student Page"/>
</center>
<script>
function go()
{
    window.location.href = 'admin';
}
function go1()
{
    window.location.href = 'student';
}
</script>
</body>
</html>